{{#if formShowing}}
  <form>
    <div class='form-group'>
      <label for='author'>Your name: </label>
      {{input value=author id='author'}}
    </div>

    <div class='form-group'>
      <label for='content'>Answer: </label><br>
      {{textarea value=content id='content'}}
    </div>

    <button class='btn btn-primary' {{action 'addAnswer'}}>Post Answer</button>
  </form>

  <button class='btn' {{action 'toggleAnswerFormShowing'}}>Hide Form</button>

{{else}}

  <button class='btn btn-info' {{action 'toggleAnswerFormShowing'}}>Create New Answer Post</button>

{{/if}}
