<h3>{{model.question.content}}</h3>
<p>Asked by: {{model.question.author}}</p>
<p>Additional notes: {{model.question.additionalNotes}}</p>

{{edit-question question=model.question updateQuestion='updateQuestion'}}

<h4>Answers:</h4>

{{new-answer addAnswer='addAnswer' question=model.question}}

{{#each model.question.answers as |answer|}}
  <p>User: {{answer.author}}</p>
  <p>{{answer.content}}</p>
{{/each}}
